
* {
	margin: 0;
	padding: 0;
}







/*Hamburgermeny*/

.circle2 {
z-index: 1500;
top:25px;
left: 23px;
position: fixed;
border-radius: 0%;
border: 0px solid #1b14ac; 
width: 38px;
height: 38px;
cursor:pointer;
background:#1b14ac;
}

.circle2:hover {
z-index: 1500;
left: 23px;
top:25px;
position: fixed;
border-radius: 0px;
background: #000; 
width: 38px;
height: 38px;
transition: all 0.3s ease;
}




.hamburger {
    position: relative;
    display: inline-block;
    width: 1em;
    height: 9px;
    top:11px;
    left:11px;
    margin-right: 0.3em;

}

.hamburger:before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0px;
    width: 100%;

}










/*Hamburgermeny*/

.hamburger {
    position: relative;
    display: inline-block;
    width: 1.3em;
    height: 13px;
    top:11,5px;
    left:9px;
    margin-right: 0.3em;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.hamburger:before {
    content: "";
    position: absolute;
    top: 6px;
    left: 0px;
    width: 100%;
    border-top: 1px solid #fff;
}









/*Hovedmenyen-take over*/

input{
  display:none;
}


.lower label:hover{
  cursor:pointer;
}



.overlay{
    z-index: 10000;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(27,20,172,1.0);
}


/*selve x'en for ut av menyen*/
.overlay label{
top:27px;
left: 25px;
position: absolute;
border-radius: 00%;
background-color: #181717; 
width: 38px;
height: 38px;
    z-index: 100;
  cursor:pointer;
}

#xen img{
position: absolute;
width: 17px;
top:11px;
left: 11px;
image-rendering: auto;
}






.overlay nav {
    text-align: left;
    left:20%;
    position: relative;
    top: 60%;
    height: 60%;
    font-size: 54px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    height: 100%;
    position: relative;
}

.overlay ul li {
    display: block;
    height: 20%;
    height: calc(100% / 5);
    min-height: 54px;
}

.overlay ul li a {
    font-weight: 300;
    display: block;
    color: white;
  text-decoration:none;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
  font-family: 'Open Sans';
  text-transform:uppercase;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
    color: #849368;
}

.lower~.overlay-hugeinc{
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;
}

#op:checked~.overlay-hugeinc{
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.overlay-hugeinc nav {
    -moz-perspective: 300px;
}

.overlay-hugeinc nav ul {
    opacity: 0.4;
    -webkit-transform: translateY(-25%) rotateX(35deg);
    transform: translateY(-25%) rotateX(35deg);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

#op:checked~.overlay-hugeinc nav ul {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

#op:not(:checked)~.overlay-hugeinc nav ul {
    -webkit-transform: translateY(25%) rotateX(-35deg);
    transform: translateY(25%) rotateX(-35deg);
}










/*Bunlinjen*/


.ikoner2{
width:100%;
bottom:70px;
position: absolute;
transform:translate(0%, -50%);
-webkit-transform:translate(0%, -51%);
border: 0px solid #BADA55;
}


.tiltoppenikon {
    background:#1b14ac;
position: absolute;
left: 0;
right: 0;
margin: auto;

border-radius: 0%;
border: 2px solid #1b14ac; 
width: 38px;
height: 38px;
cursor:pointer;
}


.tiltoppenikon:hover {
position: absolute;
left: 0;
right: 0;
margin: auto;
border-radius: 0%;
background: #2f26d4;
width: 38px;
height: 38px;
transition: all 0.3s ease;
cursor:pointer;
}


img.facebook {
position: relative;
top:12px;
left:11px;
width: 15px;
}


img.linkdin {
position: relative;
top:10px;
left:13px;
width: 12px;
}


img.pil {
position: relative;
top:10px;
left:12px;
width: 16px;
}



.fbcircle {
right: 40px;
position: absolute;
border-radius: 0%;
border: 2px solid #1b14ac; 
width: 38px;
height: 38px;
cursor:pointer;
background: #1b14ac;
}

.fbcircle:hover {
right: 40px;
position: absolute;
border-radius: 0%;
background: #2f26d4; 
width: 38px;
height: 38px;
transition: all 0.3s ease;

}


.licircle {
right: 93px;
position: absolute;
border-radius: 0%;
background: #1b14ac;
border: 2px solid #1b14ac; 
width: 38px;
height: 38px;
cursor:pointer;
}




.licircle:hover {
right: 93px;
position: absolute;
border-radius: 0%;
background: #2f26d4;
width: 38px;
height: 38px;
transition: all 0.3s ease;
}





a {
 color: inherit;
  text-decoration: none; /* no underline */
   cursor:pointer;
}


.bunnen{
float: left;
position:relative;
width: 100%;
height: 60px;
padding-top: 45px;
}




.bunntekst{
position: relative;
text-align: left;
left:38px;
top:0px;
width: 200px;
}














































/*Mobil*/



@media only screen and (max-width: 599px) {

/*Hamburgermeny*/
.circle2 {
top: 18px;
left: 14px;
position: fixed;
border-radius: 0%;
border: 0px solid #1b14ac; 
width: 48px;
height: 48px;
cursor:pointer;
background: #1b14ac;
}


.circle2:hover {
left: 14px;
top: 18px;
position: fixed;
border-radius: 0%;
background: #0F0899; 
width: 48px;
height: 48px;
transition: all 0.3s ease;
}


.hamburger {
    position: relative;
    display: inline-block;
    width: 1.3em;
    height: 13px;
    top:17px;
    left:14px;
    margin-right: 0.3em;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.hamburger:before {
    content: "";
    position: absolute;
    top: 6px;
    left: 0px;
    width: 100%;
    border-top: 1px solid #fff;
}





/*selve x'en for ut av menyen*/
.overlay label{
top:20px;
left: 14px;
position: absolute;
border-radius: 0%;
background-color: #181717; 
width: 52px;
height: 52px;
    z-index: 100;
  cursor:pointer;
}

#xen img{
position: absolute;
width: 20px;
top:16px;
left: 17px;
image-rendering: auto;
}


.overlay ul li {
    display: block;
    height: 20%;
    height: calc(100% / 5);
    min-height: 30px;
}

.overlay nav{
left:16%;
font-size: 32px;
}

/* Bunnlinjen*/
.bunntekst{
display: none;
}


.tiltoppenikon{
position: absolute;
right: 190px;
width: 40px;
height: 40px;
background: #1b14ac;
}


.tiltoppenikon:hover {
position: absolute;
right: 190px;
background: #2f26d4;
width: 40px;
height: 40px;
}




}




/*Medium skjermn*/


@media (min-width: 600px) {



}







/*Mellomstor skjerm*/


@media (min-width: 1300px){
}











/*Stor skjerm*/


@media (min-width: 1800px) {


/*Hamburgermeny*/
.circle2 {
z-index: 1500;
top:25px;
left: 25px;
position: fixed;
border-radius: 0%;
border: 0px solid #1b14ac; 
width: 50px;
height: 50px;
cursor:pointer;
background: #1b14ac;
}

.circle2:hover {
z-index: 1500;
left: 25px;
top:25px;
position: fixed;
border-radius: 0%;
background: #000; 
width: 50px;
height: 50px;
transition: all 0.3s ease;
}





.hamburger {
    position: relative;
    display: inline-block;
    width: 1.3em;
    height: 13px;
    top:18px;
    left:14px;
    margin-right: 0.3em;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.hamburger:before {
    content: "";
    position: absolute;
    top: 6px;
    left: 0px;
    width: 100%;
    border-top: 1px solid #fff;
}







/*selve x'en for ut av menyen*/
.overlay label{
top:27px;
left: 25px;
position: absolute;
border-radius: 0%;
background-color: #181717; 
width: 50px;
height: 50px;
    z-index: 100;
  cursor:pointer;
}

#xen img{
position: absolute;
width: 17px;
top:17px;
left: 17px;
image-rendering: auto;
}






/*Bunnlinjen*/


.tiltoppenikon {
position: absolute;
left: 0;
right: 0;
margin: auto;
background:#1b14ac;
border-radius: 0%;
border: 2px solid #1b14ac; 
width: 40px;
height: 40px;
cursor:pointer;
}




.tiltoppenikon:hover {
position: absolute;
left: 0;
right: 0;
margin: auto;
border-radius: 0%;
background: #2f26d4;
width: 40px;
height: 40px;
transition: all 0.3s ease;
cursor:pointer;
}





img.facebook {
position: relative;
top:11px;
left:12px;
width: 15px;
}



img.linkdin {
position: relative;
top:10px;
left:14px;
width: 12px;
}

img.pil {
position: relative;
top:11px;
left:12px;
width: 16px;
}


.bunnen{
float: left;
position:relative;
width: 100%;
height: 63px;
padding-top: 40px;
}


.bunntekst{
position: relative;
text-align: left;
left:38px;
width: 200px;
top:0px;
}












}







</style>









