.title {
  background: linear-gradient(165deg, rgba(0, 0, 255, 0.829), #e01a9e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }
  .title--small {
    font-weight: 600;
    margin-top: 80px;
    font-size: calc(10px + 1.52vw);
    width: fit-content; }
  .title--medium {
    font-weight: 600;
    margin-top: 80px;
    font-size: calc(14px + 1.52vw);
    width: fit-content; }
  .title--hero {
    padding: calc(20px + 3vw) calc(24px + 1vw);
    line-height: 1.1;
    font-size: 9vw;
    font-weight: 600; }

.lead {
  font-weight: 400;
  margin-top: 80px;
  font-size: calc(10px + 1.1vw);
  font-size: calc(14px + 1.1vw);
  width: fit-content; }

/*

.title--small {
  background: linear-gradient(
    165deg,
    rgba(0, 0, 255, 0.829),
    rgb(224, 26, 158)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  margin-top: 80px;
  font-size: calc(10px + 1.52vw);
  display: unset;
  width: fit-content;
}

.title--medium {
  background: linear-gradient(
    165deg,
    rgba(0, 0, 255, 0.829),
    rgb(224, 26, 158)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  margin-top: 80px;
  font-size: calc(14px + 1.52vw);
  display: unset;
  width: fit-content;
}

*/
body {
  font-family: "Inter", sans-serif; }

::-webkit-scrollbar-button {
  display: block;
  height: 413px;
  border-radius: 0px;
  background-color: #aaa; }

::-webkit-scrollbar-button:hover {
  background-color: #aaa; }

::-webkit-scrollbar-thumb {
  background-color: 1b14ac;
  border-radius: 1px; }

::-webkit-scrollbar-track {
  background-color: #efefef; }

::-webkit-scrollbar-track:hover {
  background-color: #ccc; }

::-webkit-scrollbar {
  width: 2px; }

::-webkit-scrollbar {
  width: 2px;
  height: 2px; }

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px; }

::-webkit-scrollbar-thumb {
  background: #1b14ac;
  border: 0px none #ffffff;
  border-radius: 50px; }

::-webkit-scrollbar-thumb:hover {
  background: #ffffff; }

::-webkit-scrollbar-thumb:active {
  background: #000000; }

::-webkit-scrollbar-track {
  background: #565656;
  border: 0px none #ffffff;
  border-radius: 150px; }

::-webkit-scrollbar-track:hover {
  background: #666666; }

::-webkit-scrollbar-track:active {
  background: #333333; }

::-webkit-scrollbar-corner {
  background: transparent; }

.circles-wrapper {
  position: relative; }

.prosjektwrapper {
  z-index: 1000;
  position: relative;
  padding-top: 35px;
  padding-bottom: 75px;
  width: 100%;
  height: 100%;
  background: #303233;
  margin-left: auto;
  margin-right: auto; }

.bakgrunnsfarge {
  position: relative;
  height: 100%;
  width: 100%;
  background: #303233; }

.firkant {
  top: 18px;
  left: 14px;
  position: fixed;
  border-radius: 0%;
  border: 2px solid #1b14ac;
  width: 48px;
  height: 48px;
  cursor: pointer; }
  .firkant:hover {
    background: #1b14ac;
    transition: all 0.3s ease; }

.reveal-text,
.reveal-text:after {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  animation-timing-function: cubic-bezier(0, 0, 0.2, 1); }

.reveal-text {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-animation-name: reveal-text;
  animation-name: reveal-text;
  color: #fff;
  white-space: nowrap;
  cursor: default; }

.reveal-text:after {
  content: "";
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1b14ac;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  pointer-events: none;
  -webkit-animation-name: revealer-text;
  animation-name: revealer-text; }

@-webkit-keyframes reveal-text {
  from {
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0); }
  to {
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0); } }

@keyframes reveal-text {
  from {
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0); }
  to {
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0); } }

@-webkit-keyframes revealer-text {
  0%,
  50% {
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%; }
  60%,
  100% {
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%; }
  50% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  60% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  100% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0); } }

@keyframes revealer-text {
  0%,
  50% {
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%; }
  60%,
  100% {
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%; }
  50% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  60% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  100% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0); } }

.reveal-text2,
.reveal-text2:after {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  animation-timing-function: cubic-bezier(0, 0, 0.2, 1); }

.reveal-text2 {
  position: relative;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-animation-name: reveal-text;
  animation-name: reveal-text;
  color: #fff;
  white-space: nowrap;
  cursor: default; }

.reveal-text2:after {
  content: "";
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1b14ac;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  pointer-events: none;
  -webkit-animation-name: revealer-text;
  animation-name: revealer-text; }

@-webkit-keyframes reveal-text {
  from {
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0); }
  to {
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0); } }

@keyframes reveal-text {
  from {
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0); }
  to {
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0); } }

@-webkit-keyframes revealer-text {
  0%,
  50% {
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%; }
  60%,
  100% {
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%; }
  50% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  60% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  100% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0); } }

@keyframes revealer-text {
  0%,
  50% {
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%; }
  60%,
  100% {
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%; }
  50% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  60% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  100% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0); } }

.circle.revealed .reveal-text3,
.circle.revealed .reveal-text2:after {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  animation-timing-function: cubic-bezier(0, 0, 0.2, 1); }

.circle.revealed .reveal-text3 {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-animation-name: reveal-text;
  animation-name: reveal-text;
  color: #fff;
  white-space: nowrap;
  cursor: default; }

.circle.revealed .reveal-text3:after {
  content: "";
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c1ea32;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  pointer-events: none;
  -webkit-animation-name: revealer-text;
  animation-name: revealer-text; }

.circle.revealed .reveal-text2,
.circle.revealed .reveal-text2:after {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  animation-timing-function: cubic-bezier(0, 0, 0.2, 1); }

.circle.revealed .reveal-text2 {
  position: relative;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-animation-name: reveal-text;
  animation-name: reveal-text;
  color: #fff;
  white-space: nowrap;
  cursor: default; }

.circle.revealed .reveal-text2:after {
  content: "";
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1b14ac;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  pointer-events: none;
  -webkit-animation-name: revealer-text;
  animation-name: revealer-text; }

.circle.revealed .reveal-text,
.circle.revealed .reveal-text:after {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  animation-timing-function: cubic-bezier(0, 0, 0.2, 1); }

.circle.revealed .reveal-text {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-animation-name: reveal-text;
  animation-name: reveal-text;
  color: #fff;
  white-space: nowrap;
  cursor: default; }

.circle.revealed .reveal-text:after {
  content: "";
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1b14ac;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  pointer-events: none;
  -webkit-animation-name: revealer-text;
  animation-name: revealer-text; }

.reveal-text3:after,
.reveal-text2:after,
.reveal-text:after {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  pointer-events: none; }

.tekstblokk {
  z-index: 100;
  width: 100%;
  position: absolute;
  bottom: 50px;
  -webkit-animation-name: example;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1.5s;
  /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 1.5s; }

@-webkit-keyframes example {
  from {
    top: 53%;
    opacity: 0; }
  to {
    top: 50%;
    opacity: 1; } }

a {
  color: #f7f7f7;
  font-weight: 300;
  line-height: 1.55em;
  word-spacing: 0.07em;
  letter-spacing: 0em;
  text-decoration: underline;
  font-weight: bold; }

p {
  color: #f7f7f7;
  font-size: 19px;
  font-weight: 300;
  line-height: 1.55em;
  word-spacing: 0.07em;
  letter-spacing: 0em;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px; }

h1 {
  color: #f7f7f7;
  font-size: 19px;
  font-weight: 300;
  line-height: 1.55em;
  word-spacing: 0.07em;
  letter-spacing: 0em;
  text-align: left;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto; }

h2 {
  color: #f7f7f7;
  font-size: 16.5px;
  font-weight: 300;
  max-width: 650px;
  line-height: 1.55em;
  word-spacing: 0.07em;
  letter-spacing: 0em;
  text-align: left;
  margin-left: auto;
  margin-right: auto; }

.pln {
  color: #1b14ac;
  font-weight: 400; }

h3 {
  z-index: 500;
  color: #f7f7f7;
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 0.03em;
  line-height: 20px; }

h4 {
  color: #b4b4b4;
  font-size: 24px;
  font-weight: 100;
  letter-spacing: 0.02em;
  text-align: center;
  line-height: 38px;
  background-color: #000;
  display: inline-block;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 1px;
  margin-left: 20px; }

@-webkit-keyframes reveal-text {
  from {
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0); }
  to {
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0); } }

@keyframes reveal-text {
  from {
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0); }
  to {
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0); } }

@-webkit-keyframes revealer-text {
  0%,
  50% {
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%; }
  60%,
  100% {
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%; }
  50% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  60% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  100% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0); } }

@keyframes revealer-text {
  0%,
  50% {
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%; }
  60%,
  100% {
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%; }
  50% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  60% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  100% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0); } }

h6 {
  z-index: 500;
  color: #f7f7f7;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 0em;
  text-align: left;
  vertical-align: center;
  vertical-align: middle;
  line-height: 50px;
  background-color: #1b14ac;
  padding-left: 19px;
  padding-right: 19px;
  padding-bottom: 5px;
  margin-right: 150px; }

@-webkit-keyframes reveal-text {
  from {
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0); }
  to {
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0); } }

@keyframes reveal-text {
  from {
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0); }
  to {
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0); } }

@-webkit-keyframes revealer-text {
  0%,
  50% {
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%; }
  60%,
  100% {
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%; }
  50% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  60% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  100% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0); } }

@keyframes revealer-text {
  0%,
  50% {
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%; }
  60%,
  100% {
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%; }
  50% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  60% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  100% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0); } }

@-webkit-keyframes reveal-text {
  from {
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0); }
  to {
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0); } }

@keyframes reveal-text {
  from {
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0); }
  to {
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0); } }

@-webkit-keyframes revealer-text {
  0%,
  50% {
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%; }
  60%,
  100% {
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%; }
  50% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  60% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  100% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0); } }

@keyframes revealer-text {
  0%,
  50% {
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%; }
  60%,
  100% {
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%; }
  50% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  60% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  100% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0); } }

/*---------------- Film Container -------------------*/
.content-film-container {
  width: 100%;
  max-width: 1100px;
  margin: auto; }
  @media (min-width: 1600px) {
    .content-film-container {
      max-width: 1400px; } }
.film-container {
  position: relative;
  height: 100%;
  width: 100%;
  margin-bottom: 35px; }

#kvadratiskfilm {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: -15px; }

/*---------------- Vimeo-kvadratisk-video -------------------*/
.video-wrapper {
  margin: 0 16px 22px 16px; }
  @media (min-width: 700px) {
    .video-wrapper {
      margin: 0 48px 22px 48px; } }
.video-container-kvadratisk {
  position: relative;
  -webkit-filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0)); }

.video-container-kvadratisk iframe,
.video-container-kvadratisk object,
.video-container-kvadratisk embed {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%; }

.video-container-kvadratisk {
  padding-bottom: 100%; }

/*---------------- Vimeo-breddeformat-video -------------------*/
.video-container-breddeformat {
  position: relative;
  -webkit-filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0));
  padding-bottom: 56.2%; }

.video-container-breddeformat iframe,
.video-container-breddeformat object,
.video-container-breddeformat embed {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%; }

.knapp {
  position: relative;
  border-radius: 0px;
  border: 2px solid #1b14ac;
  width: 170px;
  height: 40px;
  text-align: center; }

.knapp:hover {
  position: relative;
  border-radius: 0px;
  background: #1b14ac;
  width: 170px;
  height: 40px;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer; }

.velkommen {
  height: 70vh;
  width: 100%; }

.bakgrunnsbilde {
  height: 100vh;
  width: 100%; }

.bakgrunnsfarge {
  position: relative;
  height: 100%;
  width: 100%;
  background: #303233; }

.tekstbakgrunnsfarge {
  position: relative;
  bottom: 40px;
  left: 82px;
  width: 190px;
  height: 45px;
  background: #000; }

.tekstbakgrunnsfarge2 {
  position: relative;
  bottom: 40px;
  left: 50px;
  width: 420px;
  height: 72px;
  background: #1b14ac; }

.firkant {
  z-index: 200;
  top: 25px;
  left: 23px;
  position: fixed;
  border-radius: 0%;
  border: 2px solid #1b14ac;
  width: 38px;
  height: 38px;
  cursor: pointer; }

.firkant:hover {
  z-index: 20;
  left: 23px;
  top: 25px;
  position: fixed;
  border-radius: 0%;
  background: #1b14ac;
  width: 38px;
  height: 38px;
  transition: all 0.3s ease; }

.ikoner {
  z-index: 100;
  width: 100%;
  bottom: 4px;
  position: absolute;
  border: 0px solid #bada55; }

img.pilnedover2 {
  position: relative;
  float: right;
  top: 43px;
  right: 42px;
  width: 15px; }

.prosjektwrapper {
  z-index: 1000;
  position: relative;
  bottom: 0vh;
  padding-top: 35px;
  padding-bottom: 75px;
  background: #303233; }

#thumb {
  position: relative;
  object-fit: cover;
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
  height: 100%;
  transition: 1s opacity;
  transition: all 200ms ease-in;
  overflow: hidden; }

.prosjekt2:hover #thumb {
  width: 102%;
  height: 100%;
  overflow: hidden;
  transition: 1s opacity;
  transition: all 200ms ease-in; }

.prosjekt1:hover #thumb {
  width: 102%;
  height: 100%;
  overflow: hidden;
  transition: 1s opacity;
  transition: all 200ms ease-in; }

.prosjektbilde2 {
  position: relative;
  max-width: 60%;
  display: block;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 2.5%;
  -webkit-filter: drop-shadow(0px 5px 7px rgba(0, 0, 0, 0.5)); }

.prosjektbilde {
  position: relative;
  height: 85vh;
  display: block;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 3%;
  -webkit-filter: drop-shadow(0px 5px 7px rgba(0, 0, 0, 0.5)); }

.tobilderwrapper {
  position: relative;
  max-width: 60%;
  height: 100%;
  border: 0px solid #bada55;
  margin: auto; }

.prosjektbilde_kvadrat {
  float: right;
  width: 48%;
  margin: 1%;
  position: relative;
  display: block;
  -webkit-filter: drop-shadow(0px 5px 7px rgba(0, 0, 0, 0.5));
  margin-bottom: 4%; }

.nesteprosjektwrapper {
  z-index: 1000;
  position: relative;
  bottom: 0vh;
  width: 100vw;
  height: 100%; }

.prosjekt1 {
  float: left;
  position: relative;
  margin-right: 0%;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-top: 0%;
  width: 50%;
  height: 50vh;
  cursor: pointer; }

.prosjekt2 {
  float: right;
  position: relative;
  margin-right: 0%;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-top: 0%;
  width: 50%;
  height: 50vh;
  cursor: pointer;
  overflow: hidden; }

.scrolltekst {
  position: relative;
  float: right;
  top: -100px;
  right: 53px;
  color: #eee;
  font-size: 11px;
  font-weight: 600;
  line-height: 14px;
  /*animation*/
  -webkit-animation: bevegelse 1.8s forwards;
  -moz-animation: bevegelse 1.8s forwards;
  -ms-animation: bevegelse 1.8s forwards;
  -o-animation: bevegelse 1.8s forwards;
  animation: bevegelse 1.8s forwards;
  /*animation-iteration-count*/
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
  /*animation-delay*/
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -ms-animation-delay: 2s;
  -o-animation-delay: 2s;
  animation-delay: 2s; }

@keyframes bevegelse {
  0% {
    top: -100px;
    opacity: 1; }
  100% {
    top: -93px;
    opacity: 0; } }

p.center-text {
  text-align: center; }

.tekstwrapper {
  z-index: 1000;
  position: absolute;
  border: 0px solid #bada55;
  bottom: calc(3 0vh + 28px);
  left: 28px;
  transition: all 200ms ease-in; }

.fbcircle {
  right: 40px;
  position: absolute;
  border-radius: 0%;
  border: 2px solid #1b14ac;
  width: 38px;
  height: 38px;
  cursor: pointer; }

.fbcircle:hover {
  right: 40px;
  position: absolute;
  border-radius: 0%;
  background: #1b14ac;
  width: 38px;
  height: 38px;
  transition: all 0.3s ease; }

.licircle {
  right: 93px;
  position: absolute;
  border-radius: 0%;
  border: 2px solid #1b14ac;
  width: 38px;
  height: 38px;
  cursor: pointer; }

.licircle:hover {
  right: 93px;
  position: absolute;
  border-radius: 0%;
  background: #1b14ac;
  width: 38px;
  height: 38px;
  transition: all 0.3s ease; }

.strek {
  z-index: 400;
  position: relative;
  width: 46%;
  height: 2px;
  background: #1b14ac;
  bottom: -19px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  transition: all 200ms ease-in; }

.sortoverlay2 {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background: #181717; }

.sortoverlag {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100vh;
  opacity: 0.8;
  background: #181717; }

.sortoverlay3 {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background: #181717; }

.prosjekt1:hover .forrigeprosjektbilde {
  background-position: 55% 61%;
  transition: all 0.25s ease; }

.prosjekt2:hover .nesteprosjektbilde {
  background-position: 55% 61%;
  transition: all 0.25s ease; }

.forsidebilde-mobil {
  display: none;
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: 1s opacity;
  transition: all 200ms ease-in; }

.forsidebilde-desktop-m {
  display: block;
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: 1s opacity;
  transition: all 200ms ease-in; }

.forsidebilde-desktop-l {
  display: none;
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: 1s opacity;
  transition: all 200ms ease-in; }

.nesteprosjektbilde {
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  transition: 1s opacity;
  transition: all 200ms ease-in; }

.forrigeprosjektbilde {
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  transition: 1s opacity;
  transition: all 200ms ease-in; }

.scroll-downs {
  position: absolute;
  top: -5px;
  right: 47px;
  display: inline;
  margin: auto;
  width: 13px;
  height: 27px; }

.mousey {
  width: 3px;
  padding: 2px 9px;
  height: 30px;
  border: 2px solid #1b14ac;
  border-radius: 25px;
  opacity: 0.75; }

.scroller {
  position: relative;
  top: 4px;
  left: 1px;
  width: 2px;
  height: 5px;
  border-radius: 5%;
  background-color: #eee;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite; }

@keyframes scroll {
  0% {
    opacity: 0; }
  10% {
    transform: translateY(0);
    opacity: 1; }
  100% {
    transform: translateY(15px);
    opacity: 0; } }

body {
  background-color: #080808; }

@media only screen and (max-width: 599px) {
  p {
    color: #f7f7f7;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.55em;
    word-spacing: 0.07em;
    letter-spacing: 0em;
    max-width: 94%;
    margin-left: auto;
    margin-right: auto; }
  .prosjektbilde {
    position: relative;
    max-width: 92%;
    height: auto;
    display: block;
    margin: auto;
    margin-top: 7%;
    margin-bottom: 7%;
    -webkit-filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.4)); }
  .prosjektbilde2 {
    position: relative;
    max-width: 92%;
    display: block;
    margin: auto;
    margin-top: 2.5%;
    margin-bottom: 3%;
    -webkit-filter: drop-shadow(0px 5px 7px rgba(0, 0, 0, 0.5)); }
  .tobilderwrapper {
    position: relative;
    max-width: 92%;
    height: 100%;
    border: 0px solid #bada55;
    margin: auto; }
  .prosjektbilde_kvadrat {
    float: right;
    width: 100%;
    margin: 0%;
    position: relative;
    display: block;
    -webkit-filter: drop-shadow(0px 5px 7px rgba(0, 0, 0, 0.5));
    margin-bottom: 7%; }
  .sortoverlay3 {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background: #181717; }
  .prosjekt1:hover .sortoverlay3 {
    background: #1b14ac;
    transition: all 0.25s ease; }
  .prosjekt2:hover .sortoverlay3 {
    background: #1b14ac;
    transition: all 0.25s ease; }
  p.desktoptekst {
    display: none; }
  img.pilnedover2 {
    display: none; }
  .scrolltekst {
    display: none; }
  h1 {
    color: #f7f7f7;
    font-size: 17.5px;
    font-weight: 300;
    line-height: 1.45em;
    word-spacing: 0.07em;
    letter-spacing: 0em;
    text-align: left;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
  h2 {
    color: #f7f7f7;
    font-size: 16.5px;
    font-weight: 300;
    line-height: 1.55em;
    word-spacing: 0.07em;
    letter-spacing: 0em;
    text-align: left;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px; }
  h3 {
    color: #f7f7f7;
    font-size: 16.5px;
    font-weight: 200;
    letter-spacing: 0.02em;
    line-height: 42px; }
  h4 {
    color: #b4b4b4;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 0.02em;
    text-align: center;
    line-height: 28px;
    background-color: #000;
    display: inline-block;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 2px; }
  h6 {
    z-index: 500;
    color: #f7f7f7;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: left;
    vertical-align: center;
    vertical-align: middle;
    line-height: 37px;
    background-color: #1b14ac;
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 5px;
    margin-right: 60px; }
  .firkant {
    top: 18px;
    left: 14px;
    position: fixed;
    border-radius: 0%;
    border: 2px solid #1b14ac;
    width: 48px;
    height: 48px;
    cursor: pointer; }
  .firkant:hover {
    left: 14px;
    top: 18px;
    position: fixed;
    border-radius: 0%;
    background: #1b14ac;
    width: 48px;
    height: 48px;
    transition: all 0.3s ease; }
  .forsidebilde-mobil {
    display: block;
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: 1s opacity;
    transition: all 200ms ease-in; }
  .forsidebilde-desktop-m {
    display: none;
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: 1s opacity;
    transition: all 200ms ease-in; }
  .forsidebilde-desktop-l {
    display: none;
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: 1s opacity;
    transition: all 200ms ease-in; }
  .film-container {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto; }
  .scroll-downs {
    display: none; }
  .prosjekt1 {
    position: relative;
    margin-right: 0%;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-top: 0%;
    width: 100%;
    height: 50vh;
    cursor: pointer; }
  .prosjekt2 {
    position: relative;
    margin-right: 0%;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-top: 0%;
    width: 100%;
    height: 50vh;
    cursor: pointer; } }

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  p {
    color: #f7f7f7;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.55em;
    word-spacing: 0.07em;
    letter-spacing: 0em;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto; }
  .ingress {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0%;
    padding-bottom: 0%;
    padding-top: 0%;
    margin-left: auto;
    margin-right: auto; }
  .strek {
    z-index: 400;
    position: relative;
    width: 46%;
    height: 2px;
    background: #1b14ac;
    bottom: -19px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    transition: all 200ms ease-in; }
  .prosjektbilde {
    position: relative;
    max-width: 92%;
    height: auto;
    display: block;
    margin: auto;
    margin-top: 7%;
    margin-bottom: 7%;
    -webkit-filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.4)); }
  .prosjektbilde2 {
    position: relative;
    max-width: 92%;
    display: block;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 2.5%;
    -webkit-filter: drop-shadow(0px 5px 7px rgba(0, 0, 0, 0.5)); }
  .tobilderwrapper {
    position: relative;
    max-width: 92%;
    height: 100%;
    border: 0px solid #bada55;
    margin: auto; }
  .prosjektbilde_kvadrat {
    float: right;
    width: 100%;
    margin: 0%;
    position: relative;
    display: block;
    -webkit-filter: drop-shadow(0px 5px 7px rgba(0, 0, 0, 0.5));
    margin-bottom: 4%; }
  h1 {
    color: #f7f7f7;
    font-size: 17.5px;
    font-weight: 300;
    line-height: 1.45em;
    word-spacing: 0.07em;
    letter-spacing: 0em;
    text-align: left;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto; }
  h2 {
    color: #f7f7f7;
    font-size: 16.5px;
    font-weight: 300;
    line-height: 1.55em;
    word-spacing: 0.07em;
    letter-spacing: 0em;
    text-align: left;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto; }
  h3 {
    color: #f7f7f7;
    font-size: 16.5px;
    font-weight: 200;
    letter-spacing: 0.02em;
    line-height: 15px; }
  h4 {
    color: #b4b4b4;
    font-size: 24px;
    font-weight: 100;
    letter-spacing: 0.02em;
    text-align: center;
    line-height: 38px;
    background-color: #000;
    display: inline-block;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 1px;
    margin-left: 20px; }
  h6 {
    z-index: 500;
    color: #f7f7f7;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: left;
    vertical-align: center;
    vertical-align: middle;
    line-height: 43px;
    background-color: #1b14ac;
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 5px;
    margin-right: 150px; } }

@media (min-width: 600px) {
  p.desktoptekst {
    display: block; }
  .firkant {
    z-index: 200;
    top: 25px;
    left: 25px;
    position: fixed;
    border-radius: 0%;
    border: 2px solid #1b14ac;
    width: 50px;
    height: 50px;
    cursor: pointer; }
  .firkant:hover {
    z-index: 20;
    left: 25px;
    top: 25px;
    position: fixed;
    border-radius: 0%;
    background: #1b14ac;
    width: 50px;
    height: 50px;
    transition: all 0.3s ease; }
  p {
    color: #f7f7f7;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.55em;
    word-spacing: 0.07em;
    letter-spacing: 0em;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto; }
  p.mobiltekst {
    display: none; }
  .scroll-downs {
    padding-right: 10px;
    display: inline; }
  .sortoverlay3 {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background: #181717; }
  .prosjekt1:hover .sortoverlay3 {
    background: #1b14ac;
    transition: all 0.25s ease; }
  .prosjekt2:hover .sortoverlay3 {
    background: #1b14ac;
    transition: all 0.25s ease; } }

@media (min-width: 1025px) {
  h1 {
    color: #f7f7f7;
    font-size: 17.5px;
    font-weight: 300;
    line-height: 1.45em;
    word-spacing: 0.07em;
    letter-spacing: 0em;
    text-align: left;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto; }
  .prosjektbilde2 {
    margin-top: 1.5%;
    margin-bottom: 2.5%;
    -webkit-filter: drop-shadow(0px 5px 7px rgba(0, 0, 0, 0.5)); } }

@media (min-width: 1300px) {
  h2 {
    margin-bottom: 0px; }
  p {
    font-size: 18px; } }

@media (min-width: 1800px) {
  .scroll-downs {
    display: block;
    bottom: -140px;
    padding-right: 11px;
    right: 20px; }
  img.pilnedover2 {
    position: relative;
    float: right;
    top: 150px;
    right: 42px;
    width: 15px; }
  .scrolltekst {
    top: -0px;
    right: 51px; }
  @keyframes bevegelse {
    0% {
      top: -0px;
      opacity: 1; }
    100% {
      top: -26px;
      opacity: 0; } }
  p {
    color: #f7f7f7;
    font-size: 19px;
    font-weight: 300;
    line-height: 1.55em;
    word-spacing: 0.07em;
    letter-spacing: 0em;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto; }
  h1 {
    color: #f7f7f7;
    font-size: 18.5px;
    font-weight: 300;
    line-height: 1.45em;
    word-spacing: 0.07em;
    letter-spacing: 0em;
    text-align: left;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto; }
  h2 {
    color: #f7f7f7;
    font-size: 16.5px;
    font-weight: 300;
    line-height: 1.55em;
    word-spacing: 0.07em;
    letter-spacing: 0em;
    text-align: left;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto; }
  .pln {
    color: #1b14ac;
    font-weight: 400; }
  h3 {
    z-index: 500;
    color: #f7f7f7;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 0.03em;
    line-height: 32px; }
  h4 {
    color: #b4b4b4;
    font-size: 27px;
    font-weight: 100;
    letter-spacing: 0.02em;
    text-align: center;
    line-height: 52px;
    background-color: #000;
    display: inline-block;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 1px;
    margin-left: 20px; }
  .knapp {
    position: relative;
    border-radius: 0px;
    border: 2px solid #1b14ac;
    width: 170px;
    height: 40px;
    text-align: center; }
  .knapp:hover {
    position: relative;
    border-radius: 0px;
    background: #1b14ac;
    width: 170px;
    height: 40px;
    text-align: center;
    transition: all 0.3s ease;
    cursor: pointer; }
  .bakgrunnsbilde {
    height: 100vh;
    width: 100%; }
  .bakgrunnsfarge {
    position: relative;
    height: 100%;
    width: 100%;
    background: #303233; }
  .bakgrunnsfarge2 {
    position: relative;
    height: 200px;
    width: 100%;
    background: #303233; }
  .prosjektwrapper {
    z-index: 1000;
    position: relative;
    bottom: 0vh;
    padding-top: 35px;
    padding-bottom: 75px;
    width: 100%;
    height: 100%;
    background: #303233; }
  .prosjektbilde {
    position: relative;
    max-width: 48%;
    display: block;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1.7%;
    -webkit-filter: drop-shadow(0px 5px 7px rgba(0, 0, 0, 0.5)); }
  .prosjektbilde2 {
    position: relative;
    max-width: 1000px;
    display: block;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 2.5%;
    -webkit-filter: drop-shadow(0px 5px 7px rgba(0, 0, 0, 0.5)); }
  .tobilderwrapper {
    position: relative;
    max-width: 55%;
    height: 100%;
    border: 0px solid #bada55;
    margin: auto; }
  .prosjektbilde_kvadrat {
    float: right;
    width: 48%;
    margin: 1%;
    position: relative;
    display: block;
    -webkit-filter: drop-shadow(0px 5px 7px rgba(0, 0, 0, 0.5));
    margin-bottom: 3%; }
  .forsidebilde {
    display: none;
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: 1s opacity;
    transition: all 200ms ease-in; }
  .forsidebilde-mobil {
    display: none;
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: 1s opacity;
    transition: all 200ms ease-in; }
  .forsidebilde-desktop-m {
    display: none;
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: 1s opacity;
    transition: all 200ms ease-in; }
  .forsidebilde-desktop-l {
    display: block;
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: 1s opacity;
    transition: all 200ms ease-in; }
  .nesteprosjektwrapper {
    z-index: 1000;
    position: relative;
    bottom: 0vh;
    width: 100vw;
    height: 100%;
    overflow: hidden; }
  .prosjekt1 {
    float: left;
    position: relative;
    margin-right: 0%;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-top: 0%;
    width: 50%;
    height: 50vh;
    cursor: pointer;
    overflow: hidden; }
  .prosjekt2 {
    float: right;
    position: relative;
    margin-right: 0%;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-top: 0%;
    width: 50%;
    height: 50vh;
    cursor: pointer; }
  .strek {
    z-index: 400;
    position: relative;
    width: 28%;
    height: 2px;
    background: #1b14ac;
    bottom: -19px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
    margin-top: 18px;
    transition: all 200ms ease-in; }
  .prosjekt1:hover .strek {
    width: 25%;
    height: 2px;
    background: #eee;
    transition: all 0.25s ease; }
  .prosjekt1:hover .sortoverlay {
    background: #1b14ac;
    transition: all 0.25s ease; }
  .prosjekt1:hover #thumb {
    width: 102%;
    height: 100%;
    overflow: hidden;
    transition: 1s opacity;
    transition: all 200ms ease-in; }
  .prosjekt2:hover .strek {
    width: 25%;
    height: 2px;
    background: #eee;
    transition: all 0.25s ease; }
  .sortoverlay2 {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background: #181717; }
  .sortoverlag {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100vh;
    opacity: 0.45;
    background: #181717; }
  .sortoverlay3 {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background: #181717; }
  .scroll-downs {
    position: absolute;
    top: 0;
    right: 45px;
    bottom: -15;
    margin: auto;
    display: block;
    width: 13px;
    height: 27px; }
  .mousey {
    width: 3px;
    padding: 2px 9px;
    height: 30px;
    border: 2px solid #1b14ac;
    border-radius: 25px;
    opacity: 0.75; }
  .scroller {
    position: relative;
    top: 4px;
    left: 1px;
    width: 2px;
    height: 5px;
    border-radius: 5%;
    background-color: #eee;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
    animation-iteration-count: infinite; }
  @keyframes scroll {
    0% {
      opacity: 0; }
    10% {
      transform: translateY(0);
      opacity: 1; }
    100% {
      transform: translateY(15px);
      opacity: 0; } }
  .firkant {
    z-index: 200;
    top: 25px;
    left: 25px;
    position: fixed;
    border-radius: 0%;
    border: 2px solid #1b14ac;
    width: 50px;
    height: 50px;
    cursor: pointer; }
  .firkant:hover {
    z-index: 20;
    left: 25px;
    top: 25px;
    position: fixed;
    border-radius: 0%;
    background: #1b14ac;
    width: 50px;
    height: 50px;
    transition: all 0.3s ease; }
  .ikoner {
    z-index: 100;
    width: 100%;
    bottom: 75px;
    position: absolute;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -51%);
    border: 0px solid #bada55; } }
