* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif; }

.hero-opener {
  padding: calc(20px + 3vw) calc(24px + 1vw);
  line-height: 1.1;
  font-size: 9vw;
  font-weight: 200; }
  .hero-opener .gradient {
    background: linear-gradient(165deg, rgba(0, 0, 255, 0.829), #e01a9e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .hero-opener .name {
    white-space: nowrap; }
  .hero-opener .about {
    margin-bottom: calc(10px + 1vw); }
  .hero-opener .about-more-button {
    display: block;
    font-size: calc(14px + 1.8vw);
    font-weight: 500;
    cursor: pointer;
    background: linear-gradient(165deg, rgba(0, 0, 255, 0.829), #e01a9e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.collapsible {
  cursor: pointer;
  width: 100%; }

.divider-line {
  height: 2px;
  width: 100%;
  position: relative;
  margin: 80px 0;
  background: linear-gradient(165deg, rgba(0, 0, 255, 0.829), #e01a9e); }

.active,
.collapsible:hover {
  background: red; }

.title-medium {
  font-weight: 600;
  margin-top: 120px;
  font-size: calc(14px + 1.52vw);
  background: linear-gradient(165deg, rgba(0, 0, 255, 0.829), #e01a9e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.content {
  max-height: 0;
  overflow: hidden;
  max-width: 90vw;
  padding-left: 2.4vw; }
  @media (min-width: 1000px) {
    .content {
      max-width: 60vw; } }
  .content img.profil-picture {
    margin-top: calc(16px + 1vw);
    width: 25vw; }
  .content .about-text {
    margin-top: calc(10px + 1vw);
    margin-bottom: 2vw;
    font-weight: 300;
    font-size: calc(14px + 1.52vw);
    line-height: 135%;
    background: linear-gradient(165deg, rgba(0, 0, 255, 0.829), #e01a9e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .content a {
    display: block; }
  .content .classic-link {
    font-weight: 300;
    font-size: calc(14px + 1.52vw);
    position: relative;
    background: linear-gradient(165deg, rgba(0, 0, 255, 0.829), #e01a9e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content; }
    .content .classic-link:hover::after {
      content: "";
      position: absolute;
      display: inline-block;
      width: 100%;
      height: 2px;
      background: linear-gradient(165deg, rgba(0, 0, 255, 0.829), #e01a9e);
      bottom: -3px;
      left: 0; }

button {
  all: unset; }

.project-container {
  display: grid;
  padding: 0px calc(24px + 1vw) calc(20px + 3vw) calc(24px + 1vw);
  grid-template-columns: 1fr;
  grid-gap: 20px; }
  @media (min-width: 700px) {
    .project-container {
      grid-template-columns: 1fr 1fr; } }
  @media (min-width: 1000px) {
    .project-container {
      grid-template-columns: 1fr 1fr 1fr; } }
  .project-container .project {
    display: block;
    position: relative;
    height: 60vh; }
    .project-container .project .project-screen {
      display: flex;
      position: absolute;
      left: 50%;
      top: 45%;
      transform: translate(-50%, -50%);
      background: rgba(0, 0, 0, 0.1);
      margin: auto;
      border-radius: 16px;
      filter: drop-shadow(28px 28px 0px rgba(0, 0, 0, 0.1));
      border: 1px solid rgba(0, 0, 0, 0.05);
      transition: 0.3s; }
      .project-container .project .project-screen--vertical {
        width: 38%;
        min-width: 174px;
        height: 65%; }
      .project-container .project .project-screen--horizontal {
        width: 65%;
        min-width: 174px;
        height: 40%; }
      .project-container .project .project-screen--square {
        width: 53%;
        min-width: 174px;
        height: 53%; }
      .project-container .project .project-screen .project-screen-content {
        display: inline-flex;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        overflow: hidden; }
        .project-container .project .project-screen .project-screen-content--vertical {
          width: 92%;
          height: 95%; }
        .project-container .project .project-screen .project-screen-content--horizontal {
          width: 95%;
          height: 93%; }
        .project-container .project .project-screen .project-screen-content--square {
          width: 94%;
          height: 94%; }
        .project-container .project .project-screen .project-screen-content .gloss {
          transform: rotate(-25deg);
          background: white;
          position: absolute;
          right: -90px;
          top: -80px;
          opacity: 0.12; }
          .project-container .project .project-screen .project-screen-content .gloss--vertical {
            right: -45%;
            top: -80px;
            width: 80%;
            height: 120%; }
          .project-container .project .project-screen .project-screen-content .gloss--horizontal {
            right: -40%;
            top: -120px;
            width: 80%;
            height: 160%; }
          .project-container .project .project-screen .project-screen-content .gloss--square {
            right: -40%;
            top: -120px;
            width: 80%;
            height: 160%; }
        .project-container .project .project-screen .project-screen-content .thumb {
          object-fit: cover;
          width: 100%;
          height: 100%; }
    .project-container .project .project-content {
      position: absolute;
      width: 100%;
      bottom: 0;
      display: flex; }
      .project-container .project .project-content .project-padding {
        padding: 24px;
        width: 100%;
        display: flex; }
      .project-container .project .project-content .projects-facts {
        flex: 1;
        width: fit-content; }
        .project-container .project .project-content .projects-facts .project-client {
          font-size: 14px;
          font-weight: 600;
          margin-bottom: 2px; }
        .project-container .project .project-content .projects-facts .project-title {
          font-size: 12px;
          font-weight: 300;
          max-width: 70%; }
      .project-container .project .project-content .project-tags {
        align-self: flex-end; }
        .project-container .project .project-content .project-tags .tag {
          color: white;
          font-weight: 500;
          background: rgba(0, 0, 0, 0.15);
          padding: 6px 12px;
          border-radius: 30px;
          font-size: 10px; }
  .project-container .project:hover .project-screen {
    top: 44%;
    transition: 0.3s;
    filter: drop-shadow(38px 32px 0px rgba(0, 0, 0, 0.1)); }
