.space-s {
  margin-bottom: 16px; }

.space-l {
  margin-bottom: 32px; }

.space-xl {
  margin-bottom: 48px; }

.space-xxl {
  margin-bottom: 64px; }

.space-site {
  padding-left: 16px;
  padding-right: 16px; }
  @media (min-width: 1000px) {
    .space-site {
      padding-left: 32px;
      padding-right: 32px; } }
.space-s {
  margin-bottom: 16px; }

.space-l {
  margin-bottom: 32px; }

.space-xl {
  margin-bottom: 48px; }

.space-xxl {
  margin-bottom: 64px; }

.space-site {
  padding-left: 16px;
  padding-right: 16px; }
  @media (min-width: 1000px) {
    .space-site {
      padding-left: 32px;
      padding-right: 32px; } }
.title {
  background: linear-gradient(90deg, #0000ff, #e01a9e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }
  .title--x-small {
    font-weight: 600;
    font-size: calc(10px + 1.3vw);
    width: fit-content; }
  .title--small {
    font-weight: 600;
    font-size: calc(12px + 1.3vw);
    width: fit-content; }
  .title--medium {
    font-weight: 600;
    font-size: calc(14px + 1.5vw);
    width: fit-content; }
  .title--xl {
    font-weight: 400;
    font-size: calc(22px + 1.5vw);
    width: fit-content;
    line-height: 130%; }
  .title--hero {
    line-height: 1.1;
    font-size: 10vw;
    font-weight: 700;
    display: initial; }

.body {
  font-weight: 300;
  font-size: calc(14px + 0.4vw);
  line-height: 160%; }
  .body--x-small {
    font-size: calc(10px + 0.4vw); }
  .body--small {
    font-size: calc(12px + 0.4vw); }
  .body--small {
    font-size: calc(14px + 0.4vw); }
  .body--large {
    font-size: calc(16px + 0.4vw); }

.lead {
  font-weight: 400;
  margin-top: 80px;
  line-height: 155%;
  font-size: calc(15px + 0.4vw);
  width: fit-content; }

.tag {
  color: white;
  font-weight: 500;
  margin-top: 4px;
  background: rgba(0, 0, 0, 0.15);
  padding: 6px 12px;
  border-radius: 30px;
  font-size: 10px;
  display: inline-block; }
  .tag--large {
    padding: 7px 14px;
    font-size: 12px;
    margin-left: 2px;
    margin-right: 2px; }
  .tag--gradient-bg {
    background: linear-gradient(89deg, rgba(0, 0, 255, 0.829), #e01a9e); }

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif; }

.intro-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-align: center;
  height: 75vh; }
  .intro-section--hero {
    height: 90vh; }
  .intro-section--first {
    margin-top: -16vh; }
  .intro-section--last {
    margin-bottom: 16vh; }
  .intro-section--bg-even {
    background: red; }
  .intro-section--bg-odd {
    background: yellow; }
  .intro-section .section-wrapper {
    display: flex;
    flex-direction: column; }

.section-width {
  width: 100%; }
  @media (min-width: 1000px) {
    .section-width {
      max-width: 50vw; } }
.intro-text {
  text-align: center;
  margin-bottom: 4vh;
  font-weight: 400; }

.intro-name {
  font-size: 18vw;
  line-height: 1;
  text-align: center; }
  @media (min-width: 700px) {
    .intro-name {
      font-size: 11vh; } }
@keyframes hintanimation {
  0% {
    opacity: 0;
    height: 20px;
    bottom: 12vh; }
  25% {
    opacity: 1; }
  50% {
    opacity: 0;
    height: 16px;
    bottom: 10vh; }
  75% {
    opacity: 0; }
  100% {
    opacity: 0; } }

.hint {
  height: 0px;
  border-radius: 20px;
  width: 4px;
  position: absolute;
  bottom: 10vh;
  animation-fill-mode: forwards;
  animation: hintanimation 2s;
  animation-iteration-count: 5;
  animation-delay: 1s;
  background: linear-gradient(90deg, #0000ff, #e01a9e);
  animation-timing-function: ease;
  z-index: 2; }

@keyframes hintbghide {
  0% {
    opacity: 1; }
  75% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.hint-bg {
  height: 30px;
  border-radius: 20px;
  width: 4px;
  position: absolute;
  bottom: 10vh;
  animation: hintbghide 7s;
  animation-fill-mode: forwards; }

.progressbar {
  border: 0px solid grey;
  padding: 4px;
  border-radius: 4px;
  background: white;
  display: block;
  position: fixed;
  bottom: -20px;
  margin: auto;
  transform: rotate(-90deg);
  left: 50%; }
  @media (min-width: 700px) {
    .progressbar {
      right: 16px;
      top: 50%;
      left: unset;
      bottom: unset;
      transform: translate(0%, -50%); } }
  .progressbar .progress-step {
    height: 16px;
    width: 2px;
    background: #ccc9c9;
    margin-bottom: 8px; }
    .progressbar .progress-step:last-child {
      margin-bottom: 0; }
  .progressbar .color {
    background: #0000ff; }

@keyframes remove {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.progressbar.remove {
  animation: remove 2s;
  animation-fill-mode: forwards;
  animation-delay: 3s; }

.textspan {
  display: inline-flex; }

.hero {
  padding: calc(20px + 3vw) calc(24px + 1vw);
  line-height: 1.1;
  font-size: 9vw;
  font-weight: 200; }
  .hero .about {
    margin-bottom: calc(12px + 1.2vw); }
  .hero .about-more-button {
    display: block;
    font-size: calc(14px + 1.8vw);
    font-weight: 500;
    cursor: pointer; }
    .hero .about-more-button:hover {
      opacity: 0.8; }

.gradient {
  background: linear-gradient(90deg, #0000ff, #e01a9e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.collapsible {
  cursor: pointer;
  width: 100%; }

.divider-line {
  height: 2px;
  width: 100%;
  position: relative;
  margin: 70px 0;
  background: linear-gradient(165deg, rgba(0, 0, 255, 0.829), #e01a9e); }

.content {
  overflow: hidden;
  padding-top: 14vh;
  padding-bottom: 14vh;
  margin: auto; }
  @media (min-width: 1000px) {
    .content {
      max-width: 52vw;
      padding: 14vh; } }
  .content img.profil-picture {
    margin-top: calc(16px + 1vw);
    width: 25vw; }
  .content .about-text {
    margin-top: calc(10px + 1vw);
    margin-bottom: 2vw;
    font-weight: 300;
    font-size: calc(16px + 0.5vw);
    line-height: 150%;
    background: linear-gradient(165deg, rgba(0, 0, 255, 0.829), #e01a9e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .content a {
    display: block; }
  .content .classic-link {
    font-weight: 300;
    font-size: calc(16px + 0.5vw);
    position: relative;
    background: linear-gradient(165deg, rgba(0, 0, 255, 0.829), #e01a9e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content; }
    .content .classic-link:hover::after {
      content: "";
      position: absolute;
      display: inline-block;
      width: 100%;
      height: 2px;
      background: linear-gradient(165deg, rgba(0, 0, 255, 0.829), #e01a9e);
      bottom: -3px;
      left: 0; }

button {
  all: unset; }

.toggle-title {
  font-size: 14px;
  margin-bottom: 7px;
  font-weight: 400;
  color: grey; }

.toggle-buttons {
  border: 2px solid rgba(0, 0, 255, 0.829);
  border-radius: 4px;
  display: flex;
  width: fit-content; }
  .toggle-buttons .toggle {
    font-weight: 400;
    font-size: 14px;
    padding: 10px 18px;
    cursor: pointer;
    color: grey;
    min-width: 60px;
    text-align: center; }
    .toggle-buttons .toggle:nth-child(2) {
      border-right: 2px solid rgba(0, 0, 255, 0.829); }

.toggle.active {
  color: white !important;
  background: linear-gradient(165deg, rgba(0, 0, 255, 0.829), #e01a9e); }

.project-container {
  display: grid;
  grid-template-columns: 1fr; }
  @media (min-width: 700px) {
    .project-container {
      grid-template-columns: 1fr 1fr; } }
  @media (min-width: 1000px) {
    .project-container {
      grid-template-columns: 1fr 1fr 1fr; } }
  .project-container .project {
    display: block;
    position: relative;
    height: 60vh;
    min-height: 350px; }
    .project-container .project .project-screen {
      display: flex;
      position: absolute;
      left: 50%;
      top: 45%;
      transform: translate(-50%, -50%);
      background: rgba(0, 0, 0, 0.1);
      margin: auto;
      border-radius: 16px;
      filter: drop-shadow(28px 28px 0px rgba(0, 0, 0, 0.1));
      border: 1px solid rgba(0, 0, 0, 0.05);
      transition: 0.3s; }
      .project-container .project .project-screen--vertical {
        width: 145px;
        height: 260px; }
        @media (min-width: 1600px) {
          .project-container .project .project-screen--vertical {
            width: 210px;
            height: 380px; } }
      .project-container .project .project-screen--horizontal {
        width: 280px;
        height: 175px; }
        @media (min-width: 1600px) {
          .project-container .project .project-screen--horizontal {
            width: 430px;
            height: 270px; } }
      .project-container .project .project-screen--square {
        width: 53%;
        min-width: 174px;
        height: 53%; }
        @media (min-width: 1600px) {
          .project-container .project .project-screen--square {
            max-width: 60vw; } }
      .project-container .project .project-screen .project-screen-content {
        display: inline-flex;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        overflow: hidden; }
        .project-container .project .project-screen .project-screen-content--vertical {
          width: 92%;
          height: 95%; }
        .project-container .project .project-screen .project-screen-content--horizontal {
          width: 95%;
          height: 93%; }
        .project-container .project .project-screen .project-screen-content--square {
          width: 94%;
          height: 94%; }
        .project-container .project .project-screen .project-screen-content .gloss {
          transform: rotate(-25deg);
          background: white;
          position: absolute;
          right: -90px;
          top: -80px;
          opacity: 0.12; }
          .project-container .project .project-screen .project-screen-content .gloss--vertical {
            right: -45%;
            top: -80px;
            width: 80%;
            height: 120%; }
          .project-container .project .project-screen .project-screen-content .gloss--horizontal {
            right: -40%;
            top: -120px;
            width: 80%;
            height: 160%; }
          .project-container .project .project-screen .project-screen-content .gloss--square {
            right: -40%;
            top: -120px;
            width: 80%;
            height: 160%; }
        .project-container .project .project-screen .project-screen-content .thumb {
          width: 100%;
          height: 100%; }
          .project-container .project .project-screen .project-screen-content .thumb--top {
            object-position: top; }
          .project-container .project .project-screen .project-screen-content .thumb--center {
            object-fit: cover; }
    .project-container .project .project-content {
      position: absolute;
      width: 100%;
      bottom: 0;
      display: flex; }
      .project-container .project .project-content .project-padding {
        padding: 24px;
        width: 100%;
        display: flex; }
      .project-container .project .project-content .projects-facts {
        flex: 1;
        width: fit-content;
        min-width: 145px;
        align-self: end;
        margin-top: auto; }
        .project-container .project .project-content .projects-facts .project-client {
          font-size: 14px;
          font-weight: 600;
          margin-bottom: 2px; }
        .project-container .project .project-content .projects-facts .project-title {
          font-size: 12px;
          font-weight: 300;
          max-width: 80%; }
      .project-container .project .project-content .project-tags {
        align-self: flex-end;
        text-align: right;
        flex-basis: min-content;
        max-width: 100px; }
        @media (min-width: 1000px) {
          .project-container .project .project-content .project-tags {
            flex-basis: auto; } }
  .project-container .project:hover .project-screen {
    top: 44%;
    transition: 0.3s;
    filter: drop-shadow(38px 32px 0px rgba(0, 0, 0, 0.1)); }

@keyframes introanimation {
  from {
    opacity: 0;
    transform: scale(0.9); }
  to {
    opacity: 1;
    transform: scale(1); } }

.intro-animate-in {
  opacity: 0;
  animation-fill-mode: forwards; }

.intro-animation {
  animation: introanimation 1s; }

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.7, 0.7); }
  to {
    opacity: 1; } }

.fade-in-element {
  animation: fade-in 1.4s;
  opacity: 0;
  animation-fill-mode: forwards; }
  @media (min-width: 600px) {
    .fade-in-element:nth-child(2n + 1) {
      animation-delay: 0s; }
    .fade-in-element:nth-child(2n + 2) {
      animation-delay: 0.15s; } }
  @media (min-width: 1000px) {
    .fade-in-element:nth-child(3n + 1) {
      animation-delay: 0s; }
    .fade-in-element:nth-child(3n + 2) {
      animation-delay: 0.2s; }
    .fade-in-element:nth-child(3n + 3) {
      animation-delay: 0.4s; } }
.hidden {
  opacity: 0; }

.margin-top-m {
  margin-top: 46px; }
