@import "../../css/ohk-ds/scss/variabler.scss";
@import "../../css/ohk-ds/scss/colors.scss";
@import "../../css/ohk-ds/scss/typography.scss";
@import "../../css/ohk-ds/scss/tags.scss";

* {
  margin: 0;
  padding: 0;
  font-family: $ohk-font-primary;
  background: white;
}

$space-bottom: calc(40px + 3vw);

.project-hero {
  text-align: center;
  color: $text;
  margin: 12vh 0;

  .project-tags {
    margin-top: calc(20px + 2vw);
  }
}

.project-lead {
  max-width: 50vw;
  margin: auto;
  margin-bottom: $space-bottom;
}

.project-body {
  max-width: 40vw;
  margin: auto;
  margin-bottom: $space-bottom;
}

.img-description {
  margin-top: 4px;
  text-align: center;
}

.two-col {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin: auto;
  max-width: 80vw;
  margin-bottom: $space-bottom;

  .two-col-content {
    background: green;
    height: 60vh;
  }
}

.one-col {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  margin: auto;
  margin-bottom: $space-bottom;

  &--medium {
    max-width: 80vw;
    height: 75vh;
  }

  &--large {
    max-width: 95vw;
    height: 80vh;
  }

  &--portrait {
    max-width: 35vw;
  }

  .one-col-content {
    overflow: auto;
  }

  img {
  }
}

.project-film {
  margin: auto;
  padding: 20px;
  max-width: 80%;
  margin-bottom: $space-bottom;

  iframe {
    width: 100%;
    height: 70vh;
  }
}

.img-fit-cover {
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
}

.img-fit-original {
  display: block;
  width: 100%;
  margin-bottom: $space-bottom;
}

.center-text {
  text-align: center;
  width: 100%;
}
.team {
  width: 100% !important;
  text-align: center;
  margin-bottom: $space-bottom;

  .title {
    margin-bottom: $space-xs;
  }

  .member {
    display: block;
    text-align: center;
    width: 100% !important;
    margin-bottom: $space-xxs;
  }
}
