@import "../css/scss/colors.scss";
@import "../css/scss/variabler.scss";

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

$project-color: #2b2e35;

.hero-opener {
  padding: calc(20px + 3vw) calc(20px + 3vw);
  line-height: 1.1;
  font-size: 9vw;
  font-weight: 200;

  .gradient {
    background: linear-gradient(
      165deg,
      rgba(0, 0, 255, 0.829),
      rgb(224, 26, 158)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .name {
    white-space: nowrap;
  }
  .about {
    margin-bottom: calc(10px + 1vw);
  }

  .about-more-button {
    display: block;
    font-size: calc(14px + 1.8vw);
    font-weight: 500;
    cursor: pointer;
    background: linear-gradient(
      165deg,
      rgba(0, 0, 255, 0.829),
      rgb(224, 26, 158)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.collapsible {
  cursor: pointer;
  width: 100%;
}

.divider-line {
  //border-bottom: 1px solid rgb(235, 235, 235);
  height: 2px;
  width: 100%;
  position: relative;
  margin: 80px 0;
  background: linear-gradient(
    165deg,
    rgba(0, 0, 255, 0.829),
    rgb(224, 26, 158)
  );
}

.active,
.collapsible:hover {
  background: red;
}

.title-medium {
  font-weight: 600;
  margin-top: 120px;
  font-size: calc(14px + 1.52vw);
  background: linear-gradient(
    165deg,
    rgba(0, 0, 255, 0.829),
    rgb(224, 26, 158)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content {
  max-height: 0;
  overflow: hidden;
  max-width: 90vw;

  @media (min-width: $screen-laptop) {
    max-width: 60vw;
  }

  img.profil-picture {
    margin-top: calc(16px + 1vw);
    width: 25vw;
  }

  .about-text {
    margin-top: calc(10px + 1vw);
    margin-bottom: 1vw;
    font-weight: 300;
    font-size: calc(14px + 1.52vw);
    line-height: 135%;
    background: linear-gradient(
      165deg,
      rgba(0, 0, 255, 0.829),
      rgb(224, 26, 158)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

button {
  all: unset;
}

.project-container {
  display: grid;
  padding: 0px calc(20px + 3vw) calc(20px + 3vw) calc(20px + 3vw);
  grid-template-columns: 1fr;
  //row-gap: 10px;
  grid-gap: 20px;
  //column-gap: 10px;

  @media (min-width: $screen-tablet) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $screen-laptop) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .project {
    //background: $project-color;
    display: block;
    position: relative;
    height: 60vh;

    .project-screen {
      display: flex;
      position: absolute;
      left: 50%;
      top: 45%;
      transform: translate(-50%, -50%);
      //background: darken($project-color, 9%);
      background: rgba(0, 0, 0, 0.1);
      margin: auto;
      border-radius: 16px;
      filter: drop-shadow(28px 28px 0px rgba(0, 0, 0, 0.1));
      border: 1px solid rgba(0, 0, 0, 0.05);
      transition: 0.3s;

      &--vertical {
        width: 38%;
        min-width: 174px;
        height: 65%;
      }

      &--horizontal {
        width: 65%;
        min-width: 174px;
        height: 40%;
      }

      &--square {
        width: 53%;
        min-width: 174px;
        height: 53%;
      }

      .project-screen-content {
        display: inline-flex;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        overflow: hidden;

        &--vertical {
          width: 92%;
          height: 95%;
        }

        &--horizontal {
          width: 95%;
          height: 93%;
        }

        &--square {
          width: 94%;
          height: 94%;
        }

        .gloss {
          transform: rotate(-25deg);
          background: white;
          position: absolute;
          right: -90px;
          top: -80px;
          opacity: 0.12;

          &--vertical {
            right: -45%;
            top: -80px;
            width: 80%;
            height: 120%;
          }

          &--horizontal {
            right: -40%;
            top: -120px;
            width: 80%;
            height: 160%;
          }

          &--square {
            right: -40%;
            top: -120px;
            width: 80%;
            height: 160%;
          }
        }

        .thumb {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }

    .project-content {
      position: absolute;
      width: 100%;
      bottom: 0;
      display: flex;

      .project-padding {
        padding: $space-m;
        width: 100%;
        display: flex;
      }

      .projects-facts {
        flex: 1;
        width: fit-content;

        .project-client {
          font-size: 14px;
          font-weight: 600;
          margin-bottom: $space-xxxs;
        }

        .project-title {
          font-size: 12px;
          font-weight: 300;
          max-width: 70%;
        }
      }

      .project-tags {
        align-self: flex-end;
        .tag {
          color: white;
          font-weight: 500;
          //background: darken($project-color, 9%);
          background: rgba(0, 0, 0, 0.15);
          padding: 6px 12px;
          border-radius: 30px;
          font-size: 10px;
        }
      }
    }
  }

  .project:hover .project-screen {
    top: 44%;
    transition: 0.3s;
    filter: drop-shadow(38px 32px 0px rgba(0, 0, 0, 0.1));
  }
}
