@import "../css/scss/colors.scss";
@import "../css/scss/variabler.scss";

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.project-container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
  column-gap: 10px;

  @media (min-width: $screen-tablet) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $screen-laptop) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .project {
    background: #2b2e35;
    display: block;
    position: relative;
    height: 60vh;
  }

  .project-screen {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 38%;
    min-width: 174px;
    height: 65%;
    background: #1c1f28;
    margin: auto;
    border-radius: 16px;

    .project-screen-content {
      background: yellow;
      display: inline-flex;
      width: 90%;
      height: 93%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 10px;
    }

    .thumb {
      padding: 20px;
    }
  }

  .project-content {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;

    .project-padding {
      padding: $space-m;
      width: 100%;
      display: flex;
    }

    .projects-facts {
      flex: 1;
      width: fit-content;
      color: white;

      .project-client {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: $space-xxxs;
      }

      .project-title {
        font-size: 12px;
        font-weight: 400;
        max-width: 70%;
      }
    }

    .project-tags {
      align-self: flex-end;
      .tag {
        color: #bcc2ce;
        background: #1c1f28;
        padding: 4px 12px;
        border-radius: 30px;
        font-size: 10px;
      }
    }
  }
}
