.tag {
  color: white;
  font-weight: 500;
  margin-top: 4px;
  //background: darken($project-color, 9%);
  background: rgba(0, 0, 0, 0.15);
  padding: 6px 12px;
  border-radius: 30px;
  font-size: 10px;
  display: inline-block;
}
