@import "../css/ohk-ds/scss/variabler.scss";

$ohk-font-primary: "Inter", sans-serif;

.title {
  background: linear-gradient(
    165deg,
    rgba(0, 0, 255, 0.829),
    rgb(224, 26, 158)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  &--x-small {
    font-weight: 600;
    font-size: calc(10px + 1.3vw);
    width: fit-content;
  }

  &--small {
    font-weight: 600;
    font-size: calc(10px + 1.52vw);
    width: fit-content;
  }

  &--medium {
    font-weight: 600;
    font-size: calc(14px + 1.52vw);
    width: fit-content;
  }

  &--hero {
    line-height: 1.1;
    font-size: 10vw;
    font-weight: 700;
    display: initial;
  }
}

.body {
  font-weight: 300;
  font-size: calc(12px + 0.7vw);
  line-height: 150%;

  &--small {
    font-size: calc(12px + 0.5vw);
  }

  &--x-small {
    font-size: calc(10px + 0.5vw);
  }
}
.lead {
  font-weight: 400;
  margin-top: 80px;
  line-height: 150%;
  font-size: calc(14px + 0.5vw);
  width: fit-content;
}
