@import "../css/ohk-ds/scss/variabler.scss";

$ohk-font-primary: "Inter", sans-serif;

.title {
  background: linear-gradient(
    165deg,
    rgba(0, 0, 255, 0.829),
    rgb(224, 26, 158)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  &--x-small {
    font-weight: 600;
    margin-top: 80px;
    font-size: calc(10px + 1.3vw);
    width: fit-content;
  }

  &--small {
    font-weight: 600;
    margin-top: 80px;
    font-size: calc(10px + 1.52vw);
    width: fit-content;
  }

  &--medium {
    font-weight: 600;
    margin-top: 80px;
    font-size: calc(14px + 1.52vw);
    width: fit-content;
  }

  &--hero {
    padding: calc(20px + 3vw) calc(#{$space-m} + 1vw);
    line-height: 1.1;
    font-size: 9vw;
    font-weight: 600;
  }
}

.body {
  font-weight: 300;
  font-size: calc(12px + 0.75vw);
  line-height: 140%;
  color: $text;

  &--small {
    font-size: calc(12px + 0.5vw);
  }
}
.lead {
  font-weight: 400;
  margin-top: 80px;
  font-size: calc(14px + 1vw);
  width: fit-content;
}

/*

.title--small {
  background: linear-gradient(
    165deg,
    rgba(0, 0, 255, 0.829),
    rgb(224, 26, 158)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  margin-top: 80px;
  font-size: calc(10px + 1.52vw);
  display: unset;
  width: fit-content;
}

.title--medium {
  background: linear-gradient(
    165deg,
    rgba(0, 0, 255, 0.829),
    rgb(224, 26, 158)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  margin-top: 80px;
  font-size: calc(14px + 1.52vw);
  display: unset;
  width: fit-content;
}

*/
