$screen-mobil: 600px;
$screen-tablet: 700px;
$screen-laptop: 1000px;
$screen-desktop: 1600px;

//spacing
$space-xxxs: 2px;
$space-xxs: 4px;
$space-xs: 8px;
$space-s: 16px;
$space-m: 24px;
$space-l: 32px;
$space-xl: 48px;
$space-xxl: 64px;
$space-xxxl: 80px;

.space-s {
  margin-bottom: $space-s;
}

.space-l {
  margin-bottom: $space-l;
}

.space-xl {
  margin-bottom: $space-xl;
}

.space-site {
  padding-left: $space-s;
  padding-right: $space-s;
}

//color
$text: #333333;
